anndata<=0.9
llvmlite==0.38.1; python_version >= "3.7" and python_version < "3.11"
matplotlib>=3.4,<3.5
networkx
notebook>=6.0
numba==0.55.2
scanpy
scikit-learn
scipy
scvi-tools
tensorboard>=2.4,<2.5
protobuf>=3.9.2,<3.20
transformers==4.18.0; python_full_version >= "3.6.0"
datasets>=2.1.0,<2.4
typing-extensions>=4.2.0
umap-learn
scib==1.0.3
anndata2ri<=1.0.6
igraph<=0.9.11
python-igraph<=0.9.11
wandb
